node_modules
math-server/math.db
math-ui/yarn.lock
math-ui/package-lock.json
math-ui/yarn.lock
math-ui/yarn.lock
math-ui/package-lock.json
math-server/math.db
**/build
math-auth/tsconfig.tsbuildinfo
math-common/tsconfig.tsbuildinfo
math-db/tsconfig.tsbuildinfo
math-server/math.db
math-server/mathTest.db
math-server/tsconfig.tsbuildinfo
math-server/math.db
math-server/math.db
math-db/tsconfig.tsbuildinfo
math-common/tsconfig.tsbuildinfo
math-common/tsconfig.tsbuildinfo
math-db/tsconfig.tsbuildinfo
