# Node modules
readme.md
yarn.lock
workspace.code-workspace
tsconfig.tsbuildinfo
Mathboard.code-workspace
math-messages.7z
settings.json
node_modules/
**/node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server.log
cliens.log
uthentication.log

# Build output
dist/
build/
**/dist/
**/build/

# Environment files
.env
.env.*
**/.env
**/.env.*

# VS Code settings
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/
**/coverage/

# Misc
*.tgz
*.swp
*.swo

# Ignore image processing outputs
imageProccesing/output/
math-auth/tsconfig.tsbuildinfo
math-common/tsconfig.tsbuildinfo
math-db/tsconfig.tsbuildinfo
math-server/tsconfig.tsbuildinfo
math-ui/tsconfig.tsbuildinfo


